{% extends "layout/base.html" %}

{% block title %}My Talent Clubs{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">My Talent Clubs</h1>
        </div>
    
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
        {# Here we reuse the _tc_club_card_item partial.
           Assume it's adapted from the group card as previously specified.
           The backend passes a list of clubs the user is a member of. #}
        {% for club in my_clubs %}
            {# Assuming _tc_club_card_item.html exists and is adapted from the group card #}
            {% include "talent_club/partials/_tc_club_card_item.html" %}
        {% else %}
        <div class="col-12">
            <div class="text-center p-5 bg-light rounded">
                <h4 class="text-muted">You haven't joined any clubs yet.</h4>
                <p>Go explore and find a club that interests you!</p>
                <a href="{{ url_for('talent_club_discover') }}" class="btn btn-primary">Discover Clubs</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}